<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SDF</title>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

        <link rel="stylesheet" href="stylesheets/reset.css">
        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="stylesheets/help.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

      <!-- NAVBAR -->
      <ul class="navBar">
        <a href="/"> <li> SDF </li> </a>
        <a href="/map"> <li> Summary </li> </a>
        <a href="/edit"> <li> Account </li> </a>
        <a href="#"> <li> Help </li> </a>
        <span class="login"> <!-- LOG IN INPUTS -->
          <input type="text" class="userEmail" placeholder="user@email.com">
          <input type="password" class="userPassword" placeholder="password">
          <button type="button" class="loginButton">login</button>
        </span>
      </ul>

      <!-- LOGO -->
      <h1>SDF - Help</h1>

      <div class="helpSlide">
        <ul class="sliderUL" style="margin:0; padding:0; height:450px; width: 4000px;">

        <li><img class="sygn1" src="images/screen1.png" style="float:left; width:800px; height: 450px; left:0; list-style-type:none;" alt="" /></li>

        <li><img class="sygn2" src="images/screen2.png" style="float:left; width:800px; height: 450px; left:0; list-style-type:none;" alt="" /></li>

        <li><img class="sygn3" src="images/screen3.png" style="float:left; width:800px; height: 450px; left:0; list-style-type:none;" alt="" /></li>

        <li><img class="sygn1" src="images/screen1.png" style="float:left; width:800px; height: 450px; left:0; list-style-type:none;" alt="" /></li>
        </ul>

        <div style="position:absolute; left:0; bottom:0; text-align:center; font-size: 28px; background:linear-gradient(180deg,rgba(0,0,0,0.9),white 190%); color:white; display:block; margin: 0; width:180px; height: 100%; vertical-align:middle; padding: 0 20px; display:inline-block; line-height:normal;">
          <p class="helpText" style="margin-top: 50%;">Log in and press "Summary" to view current holdings and relevant news articles.
          </p>
        </div>

      </div>
      <p class="slideControl1">1</p>
      <p class="slideControl2">2</p>
      <p class="slideControl3">3</p>


      <div style="height:200px; background-color:white"></div>

      <div class="contactContainer">

          <div style="display:inline-block; width: 380px; text-align:left; margin: 55px 80px 0 auto; vertical-align:top;">
            <h4 style="font-size: 35px; color:white;">We Want To Hear From You!</h4>
            <p style="font-size:20px; color:white; line-height:25px; margin-bottom:40px;">
              Have questions, comments or suggestions? We are constanty striving to improve our applciation and services. Please feel free to send your thoughts our way with the contact form on the right.
            </p>
            <p style="font-size: 20px; color:white;line-height: 25px; border-left: 7px solid rgba(0,150,136,1); padding-left: 20px;">
              “It's far better to buy a wonderful company at a fair price than a fair company at a wonderful price.” <br><br>-Warren Buffett
            </p>
          </div>

          <!-- CONTACT US BOX -->
          <div class="contactBox" id="contactBoxHelp">
            <h3> Contact Us</h3>
            <hr>
            <div class="contact">
              <label>Name</label><br>
              <input class="messageInput" type="text" >
            </div>
            <div class="contact">
              <label>Email</label><br>
              <input class="messageInput" type="text" >
            </div>
            <div class="contact">
              <label>Message</label><br>
              <textarea class="messageBox" type="text"></textarea>
            </div>
            <button type="button"> Submit </button>
          </div>
      </div>

      <!-- FOOTER -->
      <div class="footer">
        <span class="footerContact"> SDF&reg; 2437 Corinth Avenue, Los Angeles, CA 90064, United States, info@sygns.com </span>
      </div>

      <script type="text/javascript" src="javascripts/help_script.js"></script>
    </body>
</html>
