<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SDF</title>

        <link rel="stylesheet" href="stylesheets/reset.css">
        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
        <!-- <link href='https://fonts.googleapis.com/css?family=Inconsolata:700' rel='stylesheet' type='text/css'> -->

        <link href="/stylesheets/map_style.css" rel="stylesheet" type="text/css"/>

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>

    </head>

    <body>
      <!--*********** HIDDEN MODAL BACKGROUND ***********-->
      <div class="background"></div>

      <!-- BUY MODAL WINDOW -->
      <div class="buyModal">
        <p class="modalTitle modalLine"></p>
        <input type="text" class="sharesInput" placeholder="Enter">
        <p class="modalDetails modalShares"></p>

        <p class="modalLine" style="margin-top:30px;"> Review </p>
        <hr style="width:70%;">
        <p class="totalSummary modalInvoice"></p>
        <p class="totalPrice modalTotal"></p>
        <p class="totalTrade modalInvoice"></p>
        <p class="totalTradeFee modalTotal"></p>
        <p class="totalOddLot modalInvoice"></p>
        <p class="totalOddLotFee modalTotal"></p>
        <p class="total modalInvoice" style="text-align:right; font-size:20px"></p>
        <p class="totalFees modalTotal" style="font-size:20px"></p>

        <div style="margin-top:20px;">
          <button type="button" class="confirmButton">Confirm</button>
          <button type="button" class="cancelButton">Cancel</button>
        </div>
      </div> <!-- END BUY MODAL DIV -->

      <!-- NAVBAR -->
      <ul class="navBar">
        <a href="/"> <li class="navItem"> SDF </li> </a>
        <a href="/map"> <li class="navItem"> Summary </li> </a>
        <a href="/edit"> <li class="navItem"> Account </li> </a>
        <a href="/help"> <li class="navItem"> Help </li> </a>
        <span class="login"> <!-- LOG IN INPUTS -->
          <input type="text" class="userEmail" placeholder="user@email.com">
          <input type="text" class="userPassword" placeholder="password">
          <button type="button" class="loginButton">login</button>
        </span>
      </ul>

      <!-- TICKER TAPE -->
      <ul class="tickerTape" style="height:40px; width:6000px; border-bottom: 1px solid grey; margin-left: 0px; margin-top:0; list-style-type:none; overflow:hidden; position:relative; background-color:white;">
        <li class="tickerLi ticker1" >Loading..</li>
      </ul>

      <!--*********** LOGO AND TITLE ***********-->
      <h1>SDF</h1>

      <!-- SUMMARY -->
      <div class="summary" style="min-width:980px; width:80%; min-height:530px; border:1px solid grey; margin: 20px auto; margin-bottom:50px; position:relative; text-alignment: center; background-color:white;">

        <div id="summaryGraph" style="border: 1px solid grey; width:620px; height:60%; min-height:350px; position:absolute; top:30px; min-left:2%; left:40px; margin:0;"></div>

        <table style="width:620px; height:70px; position: absolute; left: 40px; bottom:70px; font-size:16px;">
          <tr>
            <td class="summaryTitle">Total Value</td>
            <td class="summaryTitle">+/&#x2013; Daily %</td>
            <td class="summaryTitle">Total Change %</td>
            <td class="summaryTitle">Cash</td>
          </tr>
          <tr>
            <td class="userValue userCurrent"></td>
            <td class="userValue userDaily" style="color:green"></td>
            <td class="userValue userChange" style="color:green"></td>
            <td class="userValue userCash"></td>

          </tr>
        </table>

        <a href="#buy" style="border: 1px solid grey; width:160px; height:40px; position: absolute; left: 160px; bottom:25px; font-size:20px; color:white; background-color:rgba(0,150,136,1); line-height:40px; border-radius:5px; border:none;">Buy</a>

        <a href="#sell" style="border: 1px solid grey; width:160px; height:40px; position: absolute; left: 360px; bottom:25px; font-size:20px; color:white; background-color:rgba(211,137,0,1); line-height:40px; border-radius:5px; border:none;">Sell</a>



        <div class="articleFeed" style="width:300px; height:100%; position:absolute; margin:0; right:0; border-left:1px solid grey; overflow: scroll;">
          <h3 style="font-size:22px; margin: 15px 5px 5px 5px;">Recent News</h3>
          <hr style="width: 70%">

        </div>
      </div>



      <!--*********** BUY ***********-->
      <div id="buy" style="min-width:980px; width:80%; min-height:530px; border:none; margin: 20px auto; margin-bottom:50px; position:relative; text-alignment: center; background-color:white; ">

        <div style="position: relative; height: 60px; top:60px;">
          <p style="display:inline-block; position:absolute; width:150px; height: 40px; vertical-align:top; left:6%; margin-right: 10px; line-height:40px; font-size:18px;">
            Funds Available:
          </p>
          <p class="balance" style="display:inline-block; position:absolute; line-height: 40px; height:40px; width: 70px; vertical-align:top; font-size:18px; left:205px;"></p>
        </div>

        <div style="position: relative; height: 60px; top:60px;">
          <p style="display:inline-block; position:absolute; width:150px; height: 40px; vertical-align:top; left:6%; margin-right: 5px; line-height:40px; font-size:18px;">
            Search Symbol:
          </p>
          <input class="query" style="display:inline-block; position:absolute; line-height: 40px; height:30px; width: 73px; top:30%; border: 1px solid grey; vertical-align:top; left:195px; line-height:30px; font-size:16px; padding-right:60px;" placeholder="AAPL"></input>

          <button class="search" style="display:inline-block; position:absolute; line-height: 40px; height:34px; width: 60px; top:30%; border: 1px solid grey; vertical-align:top; left:286px; line-height:30px; font-size:15px; background-color:rgba(0,150,136,1); color:white; border-radius:3px; border:none;" >search</button>
        </div>

        <!-- BUY BUTTON -->
        <div class="buttonDiv" style="position:relative; height: 38px; width:200px;left: 175px; top:90px; text-align:center;">
          <button type="button" class="buyButton" style="width:130px; color:white; background-color:green; border:none; border-radius:5px; height:33px;">Buy</button>
        </div>

        <div class="buyToggle" style="width:200px; height:30px; background-color: rgba(128,128,128,0.5); color:white; position:absolute; top:40px; right:402px;   border-top-left-radius: 4px; border-top-right-radius: 4px; line-height:30px;">Price Summary</div>

        <div class="priceToggle" style="width:200px; height:30px; background-color: rgba(128,128,128,1.0); color:white; position:absolute; top:40px; right:202px;   border-top-left-radius: 4px; border-top-right-radius: 4px; line-height:30px;">30 Day Prices</div>

        <!-- PRICE SUMMARY CHART -->
        <div id="buyChart" style="width: 550px; height: 46%; border: 1px solid grey; position:absolute; top:70px; right:50px; z-index:2;"></div>

        <!-- PRICE HISTORY CHART -->
        <div id="priceChart" style="width: 550px; height: 46%; border: 1px solid grey; position:absolute; top:70px; right:50px; z-index:3;"></div>

        <!-- SECURITY SUMMARY TABLE -->
        <div style="position: relative; border: 1px solid #A29F9F; height: 80px; margin-top:20px; padding-top:15px; display:inline-block; width:90%; top:210px;">
            <table style="width:100%">
              <tr>
                <td class="header">Symbol</td>
                <td class="header">Name</td>
                <td class="header">Price</td>
                <td class="header">Volume</td>
                <td class="header">Daily High</td>
                <td class="header">Daily Low</td>
                <td class="header">Yearly High</td>
                <td class="header">Yearly Low</td>
              </tr>
              <tr>
                <td class="results symbol"></td>
                <td class="results name"></td>
                <td class="results price" style="font-size:19px;"></td>
                <td class="results volume"></td>
                <td class="results dailyHigh"></td>
                <td class="results dailyLow"></td>
                <td class="results yearlyHigh"></td>
                <td class="results yearlyLow"></td>
              </tr>
            </table>
        </div>


      </div> <!-- CLOSE BUY CONTAINER-->

      <!--*********** SELL ***********-->
      <div id="sell" >
        <h3 style="font-size:27px; line-height:27px; margin:0;">Current Holdings</h3>

        <ul class="userHoldings">
          <!-- <li class="holdingLi" style="background-color: rgba(0,150,136,0.15);">
            <p class="sellLiSmall">Symbol</p>
            <p class="sellLiBig" style="font-size:21px;">Name</p>
            <p class="sellLiSmall">Shares</p>
            <p class="sellLi">Purchased</p>
            <p class="sellLi">Current Price</p>
          </li> -->
        </ul>

      </div>

      <!--**************** FOOTER *******************-->
      <div class="footerBar"></div>
      <div class="footer">
        <span class="footerContact"> SDF&reg; 2437 Corinth Avenue, Los Angeles, CA 90064, United States, info@sygns.com </span>
      </div>

      <script type="text/javascript" src="/javascripts/map_script.js"></script>
    </body>

</html>
